@using EspacioProductos
@model Presupuesto
<h1>ALTA PRESUPUESTO</h1>
<form method="post">
    <section>
        <label asp-for="@Model.NombreDestinatario"></label>
        <input asp-for="@Model.NombreDestinatario">
    </section>
    <section>
        <label id="fecha"</label>
        <input type="date">
    </section>
    <section>
        <button class="btn" type="submit" asp-action="AltaPresupuesto" asp-controller="Presupuestos">Alta Presupuesto</button>
    </section>
</form>