@using EspacioProductos
@model Presupuesto
<h1 class="text-center">ALTA PRESUPUESTO</h1>
<section class="d-flex justify-content-center">
    <form method="post" class="form col-3">
    <section class="my-4 form-group">
        <label aria-required="true" class="fw-bold" asp-for="@Model.Cliente.Nombre">Nombre Destinatario: </label>
        <select asp-for="@Model.Cliente.Nombre">
            <form action=""></form>
        </select>
    </section>
    <section class="form-group d-flex justify-content-center">
        <button type="submit" asp-action="AltaPresupuesto" asp-controller="Presupuestos" class="btn btn-success my-3">Alta Presupuesto</button>
    </section>
    </form>
</section>