<section class="d-flex justify-content-center">
    <nav class="nav">
        <ul class="list-group">
            <li class="list-group-item list-group-item-action "><a class="btn btn-secondary"asp-action="ListarPresupuestos" asp-controller="Presupuestos">Listar Presupuestos</a></li>
            <li class="list-group-item list-group-item-action "><a class="btn btn-secondary"asp-action="ListarPresupuestos" asp-controller="Presupuestos">Alta Presupuesto</a></li>
            <li class="list-group-item list-group-item-action "><a class="btn btn-secondary"asp-action="ListarPresupuestos" asp-controller="Presupuestos">Modificar Presupuesto</a></li>
            <li class="list-group-item list-group-item-action "><a class="btn btn-secondary"asp-action="ListarPresupuestos" asp-controller="Presupuestos">Eliminar Presupuesto</a></li>
            
        </ul>
    </nav>
</section>